.list-container {
  overflow: hidden;
  border-radius: $global-radius;
  box-shadow: 0 4px 4px #90c0cc;
  border: 1px solid #ccc;
  display: flex;
  flex-direction: column;
  background: white;
}

.vertical-list {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.vertical-list .list-item {
  border-bottom: 1px solid #ccc;
}

.list-item {
  display: flex;
}

.list-item a {
  margin: 2px 0;
  padding: 1rem;
  text-decoration: none;
  display: flex;
  width: 100%;
  transition: background-color 0.3s ease;
  background-color: rgba(255, 255, 255, 1);
  color: black;
  &:hover {
    background-color: rgba(240, 240, 240, 1);
  }
  &:focus {
    background-color: rgba(240, 240, 240, 1);
  }
}

.list-item a img {
  order: 1;
  min-width: 70px;
  width: 70px;
  height: 70px;
  margin-right: 1rem;
}

.list-item-text {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  order: 2;
  max-width: 40rem;
}

.list-item-text h2,
.list-item-text p {
  margin: 0 0 0.25rem 0;
  display: flex;
  transition: ease 300ms;
}

.list-item-text p {
  line-height: 1.2;
}
