.mail-services {
  margin-top: 2rem;
  .controls {
    padding: 2rem;
  }
  .block-grid {
    padding: 0 2rem;
  }
}

.mail a {
  font-size: 16px;
  background: #00adef;
  color: white;
  padding: 0.5rem 0.75rem;
  height: 1.2rem;
  margin-right: 1rem;
  border-radius: ($global-radius - 2px);
  border-bottom: ($global-radius / 2) solid #0092ca;
  transition: 300ms ease;
  text-decoration: none;
  &:hover {
    background: #17bfff;
    border-bottom: ($global-radius / 2) solid #00a2e0;
  }
  &:focus {
    background: #17bfff;
  }
  &.active-tab {
    border: none;
    cursor: not-allowed;
    background: #afdae4;
  }
}
