.search-terms {
  display: flex;
  flex-direction: column;
  background: white;
  padding: 0 2rem;
  h1 {
    margin: 0;
  }
  p {
    margin: 0;
  }
}

.eservice-agency {
  font-size: 1rem;
  color: #757575;
}

.search-results {
  margin-top: 2rem;
  .controls {
    padding: 2rem 2rem 1rem 2rem;
  }
}
