html {
  font-size: 16px;
  width: 100%;
  min-height: 100%;
}

body {
  background: white;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100%;
  background: linear-gradient(to bottom, #f5fafb 26%, #abd8e3 100%);
}

.page {
  flex: 1;
  padding: 0 2rem;
}

header {
  display: flex;
  flex-direction: column;
  padding: 2rem 2rem 0 2rem;
}

.header-top {
  display: flex;
}

.ccc-logo {
  flex-grow: 100;
  order: 1;
}

.font-size-toggler {
  font-size: 16px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  order: 2;
  color: #494a4a;
}

.toggler-label {
  width: 100%;
  margin-bottom: 0.25rem;
}

.toggler-buttons {
  display: flex;
  width: 100%;
}

.toggler-buttons span {
  width: 50%;
  text-align: center;
  padding: 0.5rem 0;
  margin-right: 0.25rem;
  cursor: pointer;
  border-radius: 6px;
  transition: background-color 300ms ease;
}

.toggler-buttons span:hover {
  background-color: #0026a7;
  color: white;
}

.toggler-buttons span:active {
  background-color: #1d45cc;
}

.font-size-toggler span {
  text-transform: uppercase;
}

/* Form */

form.exit-page-form {
  display: flex;
  flex-direction: column;
  padding: 1rem 2rem;
  background: white;
  border-radius: 5px;
  border: 1px solid #ececec;
}

.exit-page-form .row {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.exit-page-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: 1rem 0;
}

.row.row-centered {
  justify-content: center;
}

.language-select a {
  padding: 0.5rem;
  border-radius: 5px;
  text-decoration: none;
  color: #0026a7;
  transition: background-color 300ms ease;
  transition: color 200ms ease;
}

.language-select a:hover {
  text-decoration: none;
  color: white;
  background-color: #0026a7;
}

.language-select a:active {
  text-decoration: none;
  color: white;
  background-color: #0026a7;
}

.language-select span {
  margin: 0 0.5rem;
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.radio-item {
  margin-right: 6rem;
}

.checkbox-item label,
.radio-item label {
  margin-left: 0.25rem;
  color: #8d8c8c;
}

.checkbox,
.radio {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.checkbox .checkbox-item {
  display: flex;
  min-width: 30rem;
  margin-bottom: 1rem;
}

.radio .radio-item {
  display: flex;
  margin-bottom: 1rem;
}

.radio.vertical {
  flex-direction: column;
}

.checkbox p,
.radio p {
  width: 100%;
}

.row .column-2 {
  width: 45%;
}

select {
  background: transparent;
  font-family: sans-serif;
  font-size: 1rem;
  height: 3rem;
  border: 1px solid #ddd;
  margin: 0.5rem 0;
}

.start-form-submit {
  background: #00adef;
  color: white;
  font-weight: bold;
  padding: 1rem;
  font-size: 1rem;
  border-radius: 6px;
  border: none;
  width: 12rem;
  cursor: pointer;
  transition: background 300ms ease;
}

.start-form-submit:hover {
  background: #3ec1f3;
}

label,
input {
  cursor: pointer;
}

.required-field {
  color: red;
  margin-left: 0.2rem;
  font-weight: bold;
}

footer {
  margin-top: 2rem;
  height: 12rem;
  background-image: url('../img/footer-graphics.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}


.label-text {
  float: left;
  margin-left: 30px;
  margin-top: 2px;
}

/* Modified by Angel */
.radio-item {
	width:500px;
	text-align:center;
	vertical-align:middle;
}
.label-text {
	white-space: nowrap;
}
.smiley {
	width: 40px;
	height:40px;
    display: block;
    margin: auto;
}
.smiley-home {
	width:50px;
	height:100%;
	display: table-cell;
}
